<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Baby Monitor</title>
        <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    </head>
    <body class="bg-blue-400">
        <nav class="flex bg-blue-300 items-center justify-between p-4">
            <div class="flex items-center">
                <!-- logo -->
                <img src="{{ url_for('static', filename='babyicon.png') }}" /> <!-- https://cdn3.iconfinder.com/data/icons/feminism-line-girl-power/512/Pregnancy-512.png -->
                <!-- name -->
                <h1 class="text-3xl font-bold text-blue-800">Baby Monitor</h1>
            </div>
        </nav>
        <div class="flex mt-5">
            <div id="babyState" class="text-blue-700 mx-auto">
            </div>
        </div>
        <div class="mx-auto w-2/3 py-5">
            <img id="bg" src="{{ url_for('video_feed') }}" class="">
        </div>
        <div class="">
            <table class="table-auto mx-auto"> <!-- Need to add overflow logic for scrolling -->
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody id="babyTimestamps" class="overflow-auto">
                </tbody>
            </table>

        </div>
    </body>
    <script src=" {{ url_for('static', filename='script.js') }}"></script>
</html>